// IMPORTS

@import "../node_modules/materialize-css/sass/materialize.scss";


// VARIABLES

$breakpoint: 1050px;
$black: rgba(0,0,0,0.87);
$light-grey: #9e9e9e;
$my-blue: #00bcd5;
$font-size: 1.2rem;

// STYLES

body {

	background-image: url("../images/gradiente.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	.header {
		margin: 0;
		drop-shadow: none;
		.col {
			padding: 0;
			.navigation {
				margin: 0;
				padding: 0 1.5em;
				height: 70px;
				background-color: $my-blue;
				display: flex;
				align-items: center;
				a i {
					color: white;
					padding: 30px 0;
				}
				.page-title {
					margin: 0;
					padding-left: 2em;
					font-size: 1rem;
					color: white;
				}
			}
		}
	}

	.container {
		margin-top: 70px;
		height: 100%;
		padding: 0em 0 1em;
	}
}

// breakdown to avoid extreme nesting

form {
	padding: 0.5em 4em 1.5em;
	.wrapper {
		.input-field {
			height: 46px;
			margin: 2em 0;
			label {
				font-size: $font-size;
				&.active {
					font-size: 1em;
				}
			}
			.select-wrapper input.select-dropdown {
				color: $light-grey;
				font-size: $font-size;
			}
			ul.dropdown-content.select-dropdown li:not(.disabled) span {
				color: $black;
			}
		}
		.horn {
			width: 75%;
			margin: 2em 0 2.2em;
			label {
				font-size: 1rem;
			}
			input {
				margin: 0 0 10px 0;
			}
			.thumb {
				background-color: $my-blue;
			}
			.range-labels {
				margin: -10px 0;
				color: $light-grey;
				font-size: 10px;
				.left {
					text-align: left;
				}
				.right {
					text-align: right;
				}
			}
		}
		.terms {
			margin: 2.5em 0 0em;
			label {
				padding-left: 2.5em;
				font-size: $font-size;
				line-height: $font-size;
			}
		}
		.btn {
			margin: 1.2em 0;
			background-color: $my-blue;
		}
	}
	
}

// MEDIA QUERIES

// Smaller devices

@media screen and (max-width: $breakpoint) {
	form {
		padding: 0.5em 2.5em 1.5em;
	}
}

@media #{$medium-and-down} {
	form {
		.wrapper .input-field {
			height: 60px;
		}
	}
}

// Mobile-specific

@media #{$small-and-down} {
	body {
		background: -webkit-linear-gradient(right, #5FC3E4, #E55D87);
		background: -o-linear-gradient(right, #5FC3E4, #E55D87);
		background: linear-gradient(to left, #5FC3E4, #E55D87);
	}
}
